
  $shadow: .3rem .3rem .6rem var(--greyLight-2), 
  -.2rem -.2rem .5rem var(--white);
  $inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
  inset -.2rem -.2rem .5rem var(--white);
  

  .sidebar{
    border-color: var(--greyLight-3) !important;
  }


.segmented-control {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    // width: 20.4rem;
    // height: 4rem;
    // box-shadow: $shadow;
    // border-radius: 1rem !important;
    display: flex;
    align-items: center;
    position: relative;
    transition: all .5s ease;
    color: var(--primary) !important;
    display: flex;

    

    &__1, &__2 {
    margin: 0.3rem;
      width: 6.8rem;
      height: 3.6rem;
    //   font-size: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--greyDark) !important;
      transition: all .5s ease;
      background-color: var(--greyLight-1) !important;
  
      &:hover { color: var(--primary) !important; }
    }
  
    &__color {
      position: absolute;
      height: 3.4rem;
      width: 6.2rem;
      margin-left: .3rem;
      border-radius: .8rem;
      box-shadow: $inner-shadow;
      pointer-events: none;
    }
  }
  
  .segmented-control__1:focus ~ .segmented-control__color {
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .segmented-control__2:active ~ .segmented-control__color {
    transform: translateX(6.8rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .items{
    background-color: var(--greyLight-1) !important;

    
  }

  .nav-link{
    color: var(--primary) !important;

  }

  .nav-link.active{
    color: var(--primary) !important;
    // height: 3.4rem;
    // width: 6.2rem;
    // margin-left: .3rem;
    border-radius: 1rem !important;
    box-shadow: $inner-shadow;
    pointer-events: none;
  }

  .conversation{
    display: flex;
    justify-content: space-between;
  }



.Modal-body{
  background-color: var(--greyLight-1) !important;
}
.Modal-button{
    margin: 0;
    border:0 !important;
    margin: 0.3rem;

    &:focus{
      box-shadow: none !important;
    }

}

.yes{
  background-color: var(--primary) !important;
}

.no{
  background-color: var(--greyLight-1) !important;
  color: var(--primary) !important;
}
.btn-close{
  background-color: var(--greyLight-1) !important;
  color: var(--primary) !important;
  box-shadow: $inner-shadow;

  &:focus{
    box-shadow: none !important;
  }
}

.checkbox { 
  justify-content: center;
  input { display: none; }
  
  &__1 {
    display: flex;
    justify-content: center;
    label {
    box-shadow: $shadow;
		cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
		border-radius: .5rem;
    aspect-ratio: 1;
    width: 2rem;
      
    &:hover .icon { color: var(--primary); }
    
  }
  
  & input:checked {
    & ~ label {
      box-shadow: $inner-shadow;
      .icon {
        color: var(--primary);
      }
    }
  }
}
}
.m-4{
  color: var(--primary);
}

.icon{
  color: var(--greyDark);
}
.label-custom{
  color: var(--greyDark-1) !important;
  margin: 0.5rem;
}
.form-group{
  display: flex;
  align-items: center;
  margin: 0.2rem;
}
.form-check-input{
  display: none;
}
.btn__copy{
  margin: 1rem;
  width: 3rem;
  background-color: var(--greyLight-1) !important;
  color: var(--greyDark) !important;
  border: 0 !important;
  box-shadow: $shadow;

  &:hover { color: var(--primary) !important; }
  &:active {
    box-shadow: $inner-shadow !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}
.fixed-bottom{
  width: 14.9vw;
}


.form {
  border: 0 !important;
  &__input-1 {
    margin-bottom: 0.9rem;
    // width: 70% !important;
    // height: 4rem !important;
    border: none!important;
    border-radius: 1rem !important;
    font-size: 1.4rem!important;
    padding-left: 1.4rem!important;
    box-shadow: $inner-shadow!important;
    background: none!important;
    font-family: inherit!important;
    color: var(--greyDark)!important;

    &::placeholder { color: var(--greyLight-3)!important; }
    &:focus { outline: none !important; box-shadow: $shadow !important; }
  }
  
}
.form_label-1{
  color: var(--greyDark);
  margin-top: 0.9rem ;
}
.form_group-1{
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
}